*~
.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.ido.last
.irb_history
.lesshst
.macports
.psql_history
.ssh
.subversion
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
Sites
bin/mate
work
